SUPABASE_PROJECT_ID="sxnctepijxjxhcycbrdw"
SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4bmN0ZXBpanhqeGhjeWNicmR3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3MTE2NDAsImV4cCI6MjA5NzI4NzY0MH0.mIVVRFkiReIt-tXsuvXZN1UPE6ynZjSH_0R3GM6nGUg"
SUPABASE_URL="https://sxnctepijxjxhcycbrdw.supabase.co"
VITE_SUPABASE_PROJECT_ID="sxnctepijxjxhcycbrdw"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4bmN0ZXBpanhqeGhjeWNicmR3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3MTE2NDAsImV4cCI6MjA5NzI4NzY0MH0.mIVVRFkiReIt-tXsuvXZN1UPE6ynZjSH_0R3GM6nGUg"
VITE_SUPABASE_URL="https://sxnctepijxjxhcycbrdw.supabase.co"
